.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer; 
}

.image {
    width: 90%; 
    height: 90%; 
    object-fit: contain;
    border: 2px solid #ccc; 
    border-radius: 10px; 
}
